 <!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<meta charset="UTF-8">
<title>Portland Area N-Trak</title>

<link rel="stylesheet" href="{% static 'pant/style.css' %}" />
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <![endif]-->
  {% block extrahead %}
  {% endblock %}
</head>

<body>

<div id = 'background'>
    <header>
      {% block extraheader %}
      {% endblock %}
      
      <h1>{{ header_text }}</h1>
      <h3>{{ subheader_text }}</h3>
      <div class = "break"></div>
    </header>

    <nav>
    <ul>
        <li><a href="/pant/index">Home</a></li>
        <li><a href="/pant/links">Other places</a></li>
        <li><a href="/pant/tour">Layout tour</a></li>    
        <li><a href="/pant/photos">More Pictures</a></li>
        <li><a href="/pant/contact">Contact us</a></li>
        <li><a href="/pant/directions">Directions</a></li>
        <li> </li>
        <li><a href="http://www.ntrak.org">N-Trak</a></li>
        <li><a href="http://www.nmra.org">NMRA</a></li>
    </ul>
    </nav>

    <div id= 'container'>

      {% block content %}
      <p>You are looking at the base template. </p>
      {% endblock %}

      <!-- Lines placed here will be included in every page that extends from this base template
      <p>This line came in from the base template.</p>
    -->

    </div>

    <div class = "break"></div>

    <footer>
    <p>&copy; Gordon Reeder and Portland area N-Trak. All rights reserved.</p>
    </footer>

</div>
</body>

</html> 